<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wpa81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wpa81" />
  <package id="SQLite.Core.WindowsPhone" version="3.8.11.158" targetFramework="wpa81" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="wpa81" />
  <package id="SQLiteNetExtensions" version="1.3.0" targetFramework="wpa81" />
  <package id="System.Data.SQLite" version="1.0.98.1" targetFramework="wpa81" />
</packages>